<h2 mat-dialog-title>Kde mě najdete</h2>
<mat-dialog-content>
 <div class="whereIAmDialog__content">
  <iframe src="https://www.google.com/maps/embed?pb=!4v1738603155113!6m8!1m7!1sp3iLzQeXsDlwRP3yNxnT-g!2m2!1d50.53495893199153!2d14.13233808481006!3f249.35932350874003!4f-7.842382931339486!5f0.7820865974627469" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>
 <ul class="whereIAmDialog__content">
  <li>Jana Adamová</li>
  <li><mat-icon>phone</mat-icon><a href="tel:+420777862974">tel. 777862974</a></li>
  <li><mat-icon>email</mat-icon><a href="mailto:jana.adamova@re-max.cz">jana.adamova&#64;re-max.cz</a></li>
  <li><mat-icon>meeting_room</mat-icon>adresa kanceláře Novobranská 75/3</li>
  <li><mat-icon>remove</mat-icon>412 01 Litoměřice</li>
  <li><mat-icon>remove</mat-icon>IČ 74255142</li>
  <li><mat-icon>remove</mat-icon>DIČ CZ8262152657</li>
 </ul>

</mat-dialog-content>
<mat-dialog-actions>
 <button mat-button mat-dialog-close>Zavřít</button>
</mat-dialog-actions>
