:host {
 display: grid;
 padding: 0rem 3rem;
 grid-template-rows: 1fr;
 grid-template-columns: 2fr 2fr 2fr 3fr;
}

@media screen and (max-width: 1200px) {
  :host{
   grid-template-rows: 2fr;
   grid-template-columns: 2fr 2fr;
  }
}

@media screen and (max-width: 768px) {
 :host{
  grid-template-rows: 4fr;
  grid-template-columns: 1fr;
 }
}
