<div class="contentLike">
 @if (detail()) {

  <div class="advertisement">
   <div class="advertisement__basic_info">
    <h1>{{ detail()?.name }}</h1>

    <img alt="hlavní obrázek" *ngIf="detail()?.imageUrl" [src]="detail()?.imageUrl" class="mainImage" (click)="open(0)">
    <p>{{ detail()?.description }}</p>
    <p style="align-self: flex-start">Cena: <b>{{ detail()?.price | currency: 'Kč' : 'symbol-narrow' }}</b></p>
    @if (detail()?.map) {
     <iframe [src]="detail()!.map | getSrcFromIframe" height="300px;" width="100%;" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    }
   </div>
   <div class="advertisement__images">
    <div class=advertisement__images__item
         *ngFor="let image of images(); let i = index">
     <img [src]="image.thumb" (click)="open(i)"/>
    </div>



    @for (video of detail()?.video!.split(";"); track video) {
     @if (video && video.trim().length > 0) {
      <iframe
       width="100%" [src]="getSafeUrl(video)" title="YouTube video player"
       frameborder="0"
       allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
       referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     }
    }


   </div>

  </div>
 }


</div>
