:host {
 position: sticky;
 top:0;
 z-index: 100;
 //width: 100vw;
 box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

:host.isMobile {
 position: absolute;
 top:0;
 z-index: 100;
 width: 100vw;

}

.nav a {
 cursor: pointer;
}

button#menu_trigger {
 position: absolute;
 top: 1rem;
 z-index: 1000; /* Ensure it stays above other content */
 right: 1rem;
 //width: 10rem;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 //background-image: linear-gradient(90deg, rgb(160, 175, 195), rgb(0, 125, 195));
 mat-icon {
  color: rgb(0, 125, 195) !important;
  fill: red;
 }
}

.nav-bar {
 position:sticky;
 &--left {
   display: flex;
  flex-direction: row;
  vertical-align: center;
  align-items: center;
  .broker_name {
    display: flex;
   flex-direction: column;
   border-left: 1px solid #e33131;
   padding-left: 1rem;
   margin-left: 1rem;
  }
 }
  nav {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   gap: 2rem;
  }

 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 height: 4rem;
 background-color: white;
 h2, h3  {
  height: auto;
 line-height: normal;
 }
 h2 {
  font-size: 1rem;
  color: #1e3c72;
  margin: 0;
  padding: 0;
  font-weight: bold;
 }
 h3 {
  margin: 0;padding: 0;
  font-size: .7rem;
  color: #e33131;
 }

 img {
  height: 3.8rem;
 }
 a {
  color: rgb(65, 69, 75);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  &:hover {
   color: #1e3c72;
  }
 }
}

.nav_wrapper {
 height: 100vh;
 width: 100vw;
 z-index: 1001;
 position: fixed;
 left: 0;
 top: 0;
 background-color: rgba(0, 0, 0, 0.8);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: #d3cbbe;
 a {
  color: #d3cbbe;
  text-decoration: none;
  font-size: 2rem;
  &:hover{
   color: white
  }
 }
 &__content {
display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  & > div {
   border-right: 1px solid #d3cbbe;
   padding-right: 1rem;
   padding-top: 10rem;
   padding-bottom: 10rem;
  }
  nav {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   line-height: 3rem;
   animation: flyInFromRight 500ms ease-out forwards;
  }
 }

 @keyframes flyInFromRight {
  from {
   transform: translateX(50%);
   opacity: 0;
  }
  80% {
   transform: translateX(-5%);
   opacity: 0.5;
  }
  to {
   opacity: 1;
   transform: translateX(0);
  }
 }


}

#menu_trigger {
 //background-color: rgba(255, 255, 255, 1);
 //color: blue;

}


@media (max-width: 768px) {
 .menu-item {
  display: none;
 }
}

.phoneCall {
 white-space: nowrap;
 padding: 0.5rem 1rem;
 border-radius: 4px;
 font-weight: bold;
 background-color: #e8e8e8;
 cursor: pointer;
}

.nav_wrapper  .phoneCall {
 margin-top: 2rem;
 background-color: #1e3c72;
 color: white;
 padding: 1.5rem 1rem;
 transition: all .5s;
 &:hover {
  background-color: #e8e8e8;
  color: #1e3c72;
 }
}
