<!--<iframe width="100%" height="420" src="https://www.firmy.cz/detail/2546089-jana-adamova-realitni-maklerka-remax-litomerice.html?widget&limit=3%22" style="border: none;" frameborder="0"></iframe>-->

<div class="heading">Průběh spolupráce</div>

@for (coop of cooperations; track coop.name) {
 <div class="coop">
  <img [src]="coop.image" alt="Cooperation image">

  <div class="coop__text">
   <h2>{{ coop.name }}</h2>
   <p>{{ coop.description }}</p>
  </div>

 </div>
}


<a class="anchor" id="reference"></a>
<div class="references">
 <div class="heading">Reference</div>
 <div class="references__links">
  <a class="references__links__link" href="https://www.remax-czech.cz/reality/re-max-g8-reality-6/jana-adamova/">
   <div class="references__links__link__text">
    <img width="30" height="30" src="/ikony_remax.svg">
    Reference RE/MAX
   </div>
   <mat-icon>keyboard_arrow_right</mat-icon>
  </a>

  <a class="references__links__link" href="https://www.firmy.cz/detail/2546089-jana-adamova-realitni-maklerka-remax-litomerice-mesto.html" target="_blank">
   <div class="references__links__link__text">
    <img width="30" height="30" src="/ikony_firmy.svg">
    Reference Firmy.cz
   </div>
   <mat-icon>keyboard_arrow_right</mat-icon>
  </a>
 </div>
</div>



