

 <div class="sidebar" >
  <div class="admin-nav" [ngClass]="{'admin-nav--compact': compactMode()}">
   <mat-list>

    @for (nav of menu; track nav.name) {
     <app-nav-item
      [routerLink]="nav.routerLink"
      [icon]="nav.icon"
      [name]="nav.name"
      [tooltip]="nav.tooltip"
      [compactMode]="compactMode()"
     />
    }


   </mat-list>

   <mat-list class="app-buttons">

    @if (compactMode()) {
     <app-nav-item
      [icon]="'keyboard_double_arrow_right'"
      [tooltip]="'Zvětšit'"
      (clicked)="compactMode.set(false)"
     />
    } @else {
     <app-nav-item
      [icon]="'keyboard_double_arrow_left'"
      [tooltip]="'Zmenšit'"
      (click)="compactMode.set(true)"
     />
    }
    <app-nav-item
     [routerLink]="'/'"
     [icon]="'logout'"
     [tooltip]="'Odejít na hlavní stranu'"
     [name]="'Odejít'"
     [compactMode]="compactMode()"
    />
   </mat-list>
  </div>
 </div>

 <div class="admin-content">
  <router-outlet></router-outlet>
 </div>




