

 <div class="sidebar" >
  <div class="admin-nav" [ngClass]="{'admin-nav--compact': compactMode()}">
   <mat-list>

    <app-nav-item
     [routerLink]="'realities'"
     [icon]="'sell'"
     [name]="'aktuální'"
     [tooltip]="'Aktuální'"
     [compactMode]="compactMode()"
    />

    <app-nav-item
     [routerLink]="'realities-sold'"
     [icon]="'paid'"
     [name]="'prodané'"
     [tooltip]="'Prodané'"
     [compactMode]="compactMode()"
    />

    <app-nav-item
     [icon]="'add_box'"
     (clicked)="showNewItemDialog()"
     [tooltip]="'Přidat nový inzerát'"
     [compactMode]="compactMode()"
    />

   </mat-list>

   <mat-list class="app-buttons">

    @if (compactMode()) {
     <app-nav-item
      [icon]="'keyboard_double_arrow_right'"
      [tooltip]="'Zvětšit'"
      (clicked)="compactMode.set(false)"
     />
    } @else {
     <app-nav-item
      [icon]="'keyboard_double_arrow_left'"
      [tooltip]="'Zmenšit'"
      (click)="compactMode.set(true)"
     />
    }

    <app-nav-item
     [routerLink]="'/'"
     [icon]="'logout'"
     [tooltip]="'Odejít na hlavní stranu'"
     [name]="'Odejít'"
     [compactMode]="compactMode()"
    />
   </mat-list>
  </div>
 </div>

 <div class="admin-content">
  <router-outlet></router-outlet>
 </div>




