:host {
 display: flex;
 flex-direction: column;
 gap: 3rem;
 justify-content: flex-start;
 align-items: center;
 flex-grow: 1;
}


app-main-slider {
 background-color: #ffffff;
}

.gradient-background {
 padding-top: 1.5rem;
 position: relative;
 //background: linear-gradient(to bottom, #1e3c72, #2a5298, #b0bec5);
 //background: linear-gradient(to bottom, #4a90e2, #6fa3ef, #d3dce6);
 //background: linear-gradient(to bottom, #a3cfff, #c2e0ff, #e6f2ff);
 background: linear-gradient(to bottom, #f5f5f5, #f0f0f0, #eaeaea);
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-bottom: 40px;



 .slogan {
  position: relative;
  font-style: italic;

  &::before {
   content: "\"";
   font-family: "Passion One", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 3rem;
   height: 2rem;
   width: 2rem;
   background-color: #c2e0ff;
   color: #1e3c72;
   //background-color: red;
   position: absolute;
   top: -1rem;
   left: calc(50% - 1rem);
   display: flex;
   justify-content: center;
   align-items: end;
   border-radius: 8px;
   vertical-align: baseline;
  }

  font-size: 1.3rem;
  text-align: justify;
  padding: 1rem;
  margin: 2rem 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(186, 59, 22, 0.09);

 }
}


p.mainSlogo {
 font-size: 1.2rem;
 line-height: 1.7rem;
 color: rgb(65, 69, 75);
}

.home-page__buttons {
 display: flex;
 flex-direction: row;
 gap: 2rem;
 justify-content: center;
 align-items: center;

 button {
  height: 3rem;
  border-radius: 6px;
 }
}

.textAndImage {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;

 &__contactMe {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  a {
   margin-top: .3rem;
   color: rgb(220, 28, 46);
   font-weight: bold;
   text-decoration: none;
   font-size: 1.7rem;
   margin-bottom: 1rem;

  }
 }


 h1 {
  font-size: 3rem;
  line-height: 0.7em;
  font-weight: 700;
  //font-weight: bold;
  //font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  //color: #1e3c72;
  background-image: linear-gradient(90deg, rgb(0, 125, 195), rgb(0, 61, 165));
  background-clip: text;
  -webkit-background-clip: text;
 color: transparent;
  span {
   color: rgb(220, 28, 46);
   //font-style: italic;
   display: block;
   font-size: 1.5rem;
   letter-spacing: -0.51px;
   font-weight: 500;
  }
 }

 img {
  margin-left: 2rem;
  border-radius: 30px;
  margin-top: 1rem;
  width: 400px;
  margin-bottom: 1rem;
  //box-shadow: 0px 8px 5px -7px rgba(0,0,0,0.8);
  //mask-image: linear-gradient(to bottom, black 80%, transparent 90%);
  //-webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 90%);
 }
}


.top-divider {
 background-size: 100% 49px;
 top: 0;
 height: 49px;
 z-index: 1;
 background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI0OXB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTEyODAgMTQwVjBTOTkzLjQ2IDE0MCA2NDAgMTM5IDAgMCAwIDB2MTQweiIvPjwvZz48L3N2Zz4=);
 transform: rotate(180deg);
 position: absolute;
 pointer-events: none;
 width: 100%;
 left: 0;
 right: 0;
}

.bottom-divider {
 background-size: 100% 49px;
 bottom: 0;
 height: 49px;
 z-index: 1;
 transform: scale(-1, 1);
 background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI0OXB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTEyODAgMTQwVjBTOTkzLjQ2IDE0MCA2NDAgMTM5IDAgMCAwIDB2MTQweiIvPjwvZz48L3N2Zz4=);;
 position: absolute;
 pointer-events: none;
 width: 100%;
 left: 0;
 right: 0;
}

.blue-background {
 position: relative;
 background: linear-gradient(to top, #f5f5f5, #f0f0f0, #eaeaea);
 color: #ffffff;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 2rem 0;

 .contentLike {
  h2 {
   color: rgb(220, 28, 46);
  }
  h4 {
   color: #283237;
  }
 }

 .services {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  p {
   font-size: 1rem;
   line-height: 1.2rem;
   color: white
  }

  &__service {
   background-color: #f15959;
   padding: 1rem;


   h3 {
    font-size: 2rem;
   }

   .contactMe {
    background-color: #ffffff;
    color: #e33131;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
     background-color: #ffcece;
    }
   }

  }
 }
}



.realities {
 padding-top: 2rem;
 .heading {
  margin-bottom: 2rem;
 }
}

.realities__list {
 max-width: 100%;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 grid-template-rows: auto;
 gap: 1rem;
 color: #808080;
 position: relative;

 &__item {
  cursor: pointer;
  transition: all .5s;
  transform-origin: center;
  width: 190px;
  &:hover {
   display: inline-block;
   transform: scale(1.1) rotate(-5deg);
   box-shadow: 2px 2px 10px -3px rgba(0,0,0,0.5);
   border: 1px solid white;
  }
  background-color: white;
  box-shadow: 0 6px 5px -6px rgba(0,0,0,0.7);
 &__image_wrapper {
  width: 190px;
  height: 120px;
  img {
   width: 100%;
   height: 100%;
   object-fit: cover;
  }
 }
  h4 {
   font-size: 1rem;
   text-align: center;
   margin: 0;
   padding: .5rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   line-height: 1rem;
   height: 50px;
   overflow: hidden;
  }
 }
}



.services {

 cursor: pointer;
 display: grid;
 grid-template-rows: auto auto auto;
 grid-template-columns: 1fr 1fr;
 gap: 2rem;
 justify-content: center;
 align-items: center;

 .contactForm {
  grid-column: span 2;
  background-color: #EDEDED;
  height: 250px;
 }

 &__service {
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  box-shadow: 0 6px 5px -6px rgba(0, 0, 0, 0.7);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 140px;
  height: 100%;
  gap: .5rem;


  &:hover {
   box-shadow: 0 6px 5px -6px rgba(0, 0, 0, 1);

   mat-icon {
    color: #1e3c72;
    transform: translateX(5px);
   }

   img {
    transform: scale(1.1) rotate(-5deg);
   }
  }

  img {
   transition: all .5s;
   height: 100px;
  }

  mat-icon {
   transition: all .5s;
   color: #c2e0ff;
   min-width: 24px;
  }


  &__text {
   display: flex;
   flex-direction: column;
   text-align: center;
   //font-size: .8rem;
   line-height: 1rem;

   h2 {
    font-size: 1.2rem;
    color: #1e3c72;
    font-weight: bold;
    padding: 0;
    margin: 0;
   }
  }
 }
}


@media (max-width: 1024px) {
 .textAndImage {
  flex-direction: column-reverse;
  text-align: center;

 }
 .services__service {
  flex-direction: column;
  mat-icon {
   display: none;
  }
 }

.services  .contactForm {
  height: auto;
 }

}

@media (max-width: 1100px) {
 .realities__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
 }
}

@media (max-width: 500px) {
 .textAndImage {
  img {
   //height: 200px;
   width: 200px;
  }
  h1 {
   font-size: 2rem;
   span {
    font-size: 1.3rem;
   }
  }
 }
 .textAndImage__contactMe a {
  font-size: 1.3rem;
 }
}
