<!--<app-main-slider [images]="images"></app-main-slider>-->

<div class="gradient-background" style="padding-top: 0">
 <a class="anchor" id="home"></a>
 <div class="contentLike textAndImage">
  <div>
   <h1>Jana Adamová<span>Certifikovaná  realitní makléřka</span></h1>
   <p class="mainSlogo">
    Vítejte na mých stránkách, kde Vaše cesta k ideálnímu bydlení právě začíná. Vaše bydlení není jen místo, kde přespáváte, ale odraz vaší osobnosti a stylu. S mými zkušenostmi a znalostmi realitního trhu Vám pomůžu prodat vaši nemovitost či najít domov, který bude splňovat všechny vaše požadavky. Kontaktujte mě a udělejte první krok k novému začátku. Vaše spokojenost je mojí prioritou.
   </p>
   <div class="textAndImage__contactMe">
    Potřebujete pomoci? Zavolejte mi
    <a href="tel:+420777862974">+420 777 862 974</a>
    Chcete se na cokoli zeptat? Napište mi
    <a href="mailto:jana.adamova@re-max.cz" class="textAndImage__contactMe__email">jana.adamova&#64;re-max.cz</a>
   </div>
  </div>

  <div style="display: flex;flex-direction: column">
   <img src="https://res.cloudinary.com/da921dcpv/image/upload/v1743090491/jana_600_yzs3n0.jpg" alt="Portrét" loading="lazy">
  </div>

 </div>
 <div class="bottom-divider"></div>
</div>

<a class="anchor" id="sluzby"></a>
<div class="contentLike services">

 <div class="services__service" (click)="showContactForm=!showContactForm">
  <img src="/house_sell.jpg">
  <div class="services__service__text">
   <h2>Chci prodat nemovitost</h2>
   <span>Prodám váš byt, dům i pozemek - rychle, bezpečně a za co nejvyšší možnou cenu. Včetně právní dokumentace.</span>
  </div>
  <mat-icon>keyboard_arrow_right</mat-icon>
 </div>

 <div class="services__service" (click)="showContactForm=!showContactForm">
  <img src="/checkPrice.jpg">
  <div class="services__service__text">
   <h2>Chci ocenit nemovitost</h2>
   <span>Připravím a vypracuji pro vás cenový odhad vaší nemovitosti a stanovím odpovídající hodnotu vašeho majetku pro rychlý prodej za nejlepší cenu.</span>
  </div>
  <mat-icon>keyboard_arrow_right</mat-icon>
 </div>

 <div class="contactForm" *ngIf="showContactForm" [@inOutAnimation]>
<app-contact-form></app-contact-form>
 </div>

 <div class="services__service" (click)="showContactForm=!showContactForm">
  <img src="/house_sell.jpg">
  <div class="services__service__text">
   <h2>Chci koupit nemovitost</h2>
   <span>Pomohu vám najít a koupit přesně takovou nemovitost, jaká bude vyhovovat vašemu bydlení nebo podnikání.</span>
  </div>
  <mat-icon>keyboard_arrow_right</mat-icon>
 </div>


 <div class="services__service" (click)="showContactForm=!showContactForm">
  <img src="/sofa.jpg">
  <div class="services__service__text">
   <h2>Chci pronajmout nemovitost</h2>
   <span>Najdu vám solventní, spolehlivé a dobré nájemce. Pomohu vám připravit veškerou prezentaci, prohlídky i smlouvy.</span>
  </div>
  <mat-icon>keyboard_arrow_right</mat-icon>
 </div>
</div>




<div class="blue-background">
 <div class="top-divider"></div>
 <a class="anchor" id="co-zajistuji" style="top:-100px;"></a>
<app-what-ioffer></app-what-ioffer>
 cas
 <div class="bottom-divider"></div>
</div>

<a class="anchor" id="spoluprace"></a>
<app-cooperation class="contentLike">

</app-cooperation>

<a class="anchor" id="nabidka"></a>
<div class="blue-background" *ngIf="actualAdvertisements().length || soldAdvertisements().length">
 <div class="top-divider"></div>
 <div class="contentLike realities" id="nabidka-nemovitosti" *ngIf="actualAdvertisements().length">
  <div class="heading">Aktuální nabídka</div>
  <div class="realities__list">

   @for (actual of actualAdvertisements(); track actual.uuid) {
    <div class="realities__list__item" [routerLink]="'/nemovitost/' + actual.uuid">
     <div class="realities__list__item__image_wrapper">
      <img [src]="actual.imageUrl">
     </div>
     <h4>{{actual.name}}</h4>
    </div>
   }

  </div>
 </div>

  <div class="contentLike realities" *ngIf="soldAdvertisements().length">
   <div class="heading">Prodané</div>
   <div class="realities__list">

    @for (sold of soldAdvertisements(); track sold.uuid) {
     <div class="realities__list__item" [routerLink]="'/nemovitost/' + sold.uuid">
      <div class="realities__list__item__image_wrapper">
       <img [src]="sold.imageUrl">
      </div>
      <h4>{{sold.name}}</h4>
     </div>
    }

   </div>
  </div>

</div>
<!-- &lt;!&ndash;<app-featured-products></app-featured-products>&ndash;&gt;-->
