<div class="realities-edit">

 <div class="realities-edit__actual">
  <div class="realities-edit__actual__heading">
   @if (soldFiIter()) {
    Prodané
   } @else {
    Aktuální nabídka
   }
  </div>
  <div class="realities-edit__list realities-edit__list--actual">

   @for (reallity of realities(); track reallity.uuid) {
    <div class="realities-edit__list__item" [routerLink]="'../realities/' + reallity.uuid">
     <div class="realities-edit__list__item__image_wrapper">
      <img [src]="'/api/advertisement/'+ reallity.uuid + '/images/150_' + reallity.imageUrl ">
     </div>
     <h4>{{ reallity.name }}</h4>
    </div>
   }
  </div>
 </div>

</div>




