
<h2 mat-dialog-title>Jak na mapu</h2>
<mat-dialog-content class="howTo">

 <div class="howTo__item">
 <div>Najdi místo na mapě, klikni na pravé tlačítko na myši a vyber přidat vlastní bod.</div>
  <img src="/novy_bod.png">
 </div>

 <div class="howTo__item">
  <div>Klikni na sdílet</div>
  <img src="/sdilet_bod.png">
 </div>

 <div class="howTo__item">
  <div>Pak vložit mapu do vlastních stránek a Kopírovat kód</div>
  <img src="/ziskani_kodu.png">
 </div>

</mat-dialog-content>
<mat-dialog-actions>
 <button mat-button mat-dialog-close>Zavřít</button>
</mat-dialog-actions>
