@if (detail()) {
 <div class="detail--first">
 <form [formGroup]="advertisementForm" ngNativeValidate>
  <div class="detail__basic-info">
   <mat-form-field>
    <mat-label>Název</mat-label>
    <input matInput formControlName="name">
   </mat-form-field>

   <mat-form-field>
    <mat-label>Popis</mat-label>
    <textarea matInput formControlName="description" rows="10"></textarea>
   </mat-form-field>

   <mat-form-field>
    <mat-label>Cena</mat-label>
    <input matInput formControlName="price">
   </mat-form-field>

   <div class="videoAndToggle">
    <div>
     <mat-slide-toggle formControlName="status">Prodáno</mat-slide-toggle>
     <mat-slide-toggle formControlName="published">Publikovat</mat-slide-toggle>
    </div>

    <div class="videoAndToggle--right-side">
     <mat-form-field>
      <mat-label>
       URL pro mapu
      </mat-label>
      <input matInput formControlName="map">
      <mat-hint>Na <a href="https://www.mapy.cz" target="_blank">mapy.cz</a>, <span (click)="showHowToIframe()" class="howTo">postup</span></mat-hint>
     </mat-form-field>
     <mat-form-field>
      <mat-label>Videa</mat-label>
      <textarea matInput formControlName="video" rows="3"></textarea>
      <mat-hint>odděluj ";"</mat-hint>
     </mat-form-field>
    </div>

   </div>



   <button mat-raised-button (click)="save(this.advertisementForm.value)" style="align-self: flex-start;">
    <mat-icon>save</mat-icon>
    Uložit hodnoty
   </button>

  </div>
 </form>
 </div>
 <div class="detail--second">
 <button mat-raised-button (click)="fileUnput.click()" style="align-self: flex-start;margin-bottom: 2rem;">
  <mat-icon>add_a_photo</mat-icon>
  Přidat fotografie
 </button>
 <input type="file" multiple (change)="onFiesChange($event)" accept="image/*" style="display: none;" #fileUnput>

 <div class="images" cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)">
  @for (image of images(); track image.uuid) {
   <div class="images__item" cdkDrag>
    <mat-icon (click)="deleteImage(image.uuid)">delete</mat-icon>
    <img [src]="'/api/advertisement/'+this.detail()?.uuid+'/images/150_' + image.src">
   </div>
  }
 </div>
 </div>
}


